
<div class="container">
    {{#each deData}}
    {{!-- {{#each pword}} --}}
 <div class="card border-primary">
  
    <div class="card-header" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse"  data-target = "#{{id}}" href="#{{id}}" id="nameChange" value="{{name}}">{{name}}</a>
      </h4>
    </div>
    <div id="{{id}}" class="collapse">
      <div class="panel-body">
          <form >
                        <div class="form-group">
                            <label class="col-form-label col-form-label-sm" for="inputSmall">Username</label>
                            <input class="form-control form-control-sm inputSmall" id= "usernameChange" type="text" value={{user_name}} >
                        </div>
                        <div class="form-group pwdToggle">
                            <label class="col-form-label col-form-label-sm" for="inputSmall">Password</label><br>
                            <div class="input-group">
                                <div class="input-group-prepend">
        <span class="input-group-text"><i class="far fa-eye showPwd"><br></i></span>
                            <input class="form-control form-control-sm pwd" id="passwordChange" type="password" value={{password}}>
                            
      </div>
      </div>
                            
                        </div>
                        <div class="form-group">
                            <label class="col-form-label col-form-label-sm" for="inputSmall">URL</label>
                            <input class="form-control  form-control-sm" id = "urlChange" type="text" value={{url}}>
                        </div>
                        

                        <div class="row">
                            <div class="col-1">
                                <button class="btn btn-primary " data-id="{{id}}"" id="updatePwd">Update</button>
                            </div>
                            <div class="col-1">
                                <button class="btn btn-primary" id="deletePwd">Delete</button>
                            </div>

                        </div>
                    </form>
      </div>
    </div>
</div> 
{{/each}}
    {{!-- {{#each pword}}

    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h3 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#{{id}}" aria-expanded="true"
                        aria-controls="collapseOne">
                        
                    </button>
                </h3>
            </div>

            <div id={{id}} class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label class="col-form-label col-form-label-sm" for="inputSmall">Username</label>
                            <input class="form-control form-control-sm" type="text" value={{user_name}} id="inputSmall">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label col-form-label-sm" for="inputSmall">Password</label>
                            <input class="form-control form-control-sm" type="password" id="pwd" value={{password}}>
                            <input type="button" class="btn btn-primary btn-sm" value="Show" id="showPwd"><br>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label col-form-label-sm" for="inputSmall">URL</label>
                            <input class="form-control form-control-sm" type="text" value={{url}}>
                        </div>
                        <button class="btn" data-clipboard-target="#clipboardTarget">
                            <img src="assets/clippy.svg" alt="Copy to clipboard">
                        </button><br><br>

                        <div class="row">
                            <div class="col-1">
                                <button class="btn btn-primary">Update</button>
                            </div>
                            <div class="col-1">
                                <button class="btn btn-primary">Delete</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

            {{/each}} --}}
        </div>