
<div class="container">
    {{#each deData}}
 <div class="card border-primary">
  
    <div class="card-header" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse"  data-target = "#{{id}}" href="#{{id}}" class ="nameChange" value="{{name}}">{{name}}</a>
      </h4>
    </div>
    <div id="{{id}}" class="collapse">
      <div class="panel-body">
        <form>
            <div class="form-group">
                <label class="col-form-label col-form-label-sm" for="inputSmall">URL</label>
                <input class="form-control  form-control-sm urlChange-{{id}}" type="text" value={{url}}>
            </div>
            <div class="form-group">
                <label class="col-form-label col-form-label-sm" for="inputSmall">Username</label>
                <input class="form-control form-control-sm inputSmall usernameChange-{{id}} "type="text" value={{user_name}}>
            </div>
            <div class="form-group pwdToggle">
                <label class="col-form-label col-form-label-sm" for="inputSmall">Password</label><br>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-eye showPwd"><br></i></span>
                        <input class="form-control form-control-sm pwd passwordChange-{{id}}" type="password" value={{password}}>
        
                    </div>
                </div>
        
            </div>
            
        
        
            <div class="row">
                <div class="col-1">
                    <button class="btn btn-primary updatePwd " data-id="{{id}}">Update</button>
                </div>
                <div class="col-1">
                    <button class="btn btn-primary deletePwd" data-id="{{id}}">Delete</button>
                </div>
        
            </div>
        </form>
      </div>
    </div>
</div> 
{{/each}}
        </div>